@page "/"
@using IMF.CoreBusiness;
@using IMF.UseCases.Inventories;

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Test Page</h3>
<br />

<ul>	
	@foreach(var inv in _inventories)
	{
	<li>
		@inv.InventoryName
	</li>
	}
</ul>

@code {
	private List<Inventory> _inventories = new List<Inventory>();

	protected override async Task OnInitializedAsync()
	{
		_inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
	}
}